/* Container holding the image and the text */
.preview {
    position: relative;
    text-align: center;
    color: white;
    max-height: 425px;
    width: 100%;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* PREVIEW LOGO style*/
 .preview_logo{
  width: 27%;
    margin-right: 75%;
}
video{
  width: 294px;
  height: 160px;
  border: 2px solid black;
}
/* para tag style */
.click_{
  margin-top: -5%;
  margin-left: 33%;
}